
*{
  margin: 0;
  padding: 0;
}
.navbar{
  background: #000;
  padding: 12px;
}
a{
  /* display: flex; */
  /* flex-direction: row; */
  /* direction: ltr; */
  cursor:grab;
  font-size: 1.5rem;
  padding: 12px;
  color: gold;
  background: #0000;
  text-decoration: none;
}

.welcome{
  height: 3rem;
  text-align: center;
  color: bisque;
  background: rgb(34, 38, 27);
    background: linear-gradient(169deg, rgba(34, 38, 27, 1) 19%, rgba(2, 0, 36, 1) 33%, rgba(102, 121, 9, 1) 38%, rgba(21, 125, 113, 1) 43%, rgba(24, 33, 16, 1) 61%, rgba(0, 212, 255, 1) 100%);
}

.footer-container{
  height: 3rem;
  background: rgb(165, 73, 82);
    background: linear-gradient(rgb(126, 32, 48) ,purple);
}
.hero-para{
  color: white;
  font-size:  2rem;;
  margin-top: auto ;
  text-align: center;
}
.hero-section{
 height: 21rem;
 margin-right: 3rem;
}
.profile{
  display: flex;
  gap: 2rem;
}
.profile-detail{
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: #3A3D42;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
